# Virtual environment
.venv/
venv/
__pycache__/

# Python cache
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# LaTeX
*.aux
*.log
*.out

# Notebooks
.ipynb_checkpoints/

# Data
data/*
data/test_dataset/
data/clean_data.parquet
data/processed_splits/

# models

# MacOS
.DS_Store

# keys
*.pem
keys/